@import url('react-quill-new/dist/quill.snow.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}


.ql-editor {
    @apply text-sm text-gray-800 leading-normal !important;
}
.ql-editor ol {
    @apply pl-0 !important;
}